@import "../scss/mixins.scss";

.banner {
    background: url(https://a0.muscache.com/im/pictures/18084f37-67e0-400f-bfd8-55eea0e89508.jpg?im_w=1920)
        no-repeat center center fixed;
    background-size: cover;
    height: 80vh;
    position: relative;
}

.banner__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
}

.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__info {
    @include banner__padding;
    font-weight: bold;
    color: white;
    width: 280px;

    button {
        background-color: white;
        color: black;
        transform: inherit;
        margin-top: 20px;
        font-weight: 600;
    }

    button:hover {
        background-color: lightgray;
    }

    h5 {
        margin-top: 10px;
    }
}
