.home__section {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.blurry {
    z-index: 100;
    filter: blur(2px);
}

@media(max-width:414px){
    .home__section{
        display: flex;
        flex-direction: column;
    }
}